{% extends "auctions/layout.html" %}

{% block body %}
    <div class="jumbotron text-center" style="background-color: lightblue;">
        <h1 class="card-title h1 text-center" style="padding-bottom: 15px; color:white">Create Listing</h1>
    </div>
    <div class="text-center ml-4" style="width:95%;">
        <form method="post" action="{% url 'create_listing' %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" rows="4" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <select class="form-control" name="category" placeholder="Category" required>
                    <option value="">Choose a Category</option>
                    <option value="Books">Books</option>
                    <option value="Music">Music</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Food">Food</option>
                    <option value="Outdoors">Outdoors</option>
                    <option value="Pet Supplies">Pet Supplies</option>
                    <option value="Health">Health</option>
                    <option value="Kids">Kids</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Sports">Sports</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="price" placeholder="Starting Bid">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Image Link (Optional)">
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>

{% endblock %}