{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    Create Listing
    <div class="text-left">

        <form method="post" action="{% url 'create_listing' %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" rows="4" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <select class="form-control" name="category" placeholder="Category" required>
                    <option value="">Choose a Category</option>
                    <option value="anime">Books</option>
                    <option value="Manga">Music</option>
                    <option value="games">Electronics</option>
                    <option value="books">Food</option>
                    <option value="books">Outdoors</option>
                    <option value="books">Pet Supplies</option>
                    <option value="books">Health</option>
                    <option value="books">Kids</option>
                    <option value="books">Automotive</option>
                    <option value="books">Sports</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="price" placeholder="Starting Bid">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Image Link (Optional)">
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>

{% endblock %}