{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    Create Listing Form
    <form method="post" action="{% url 'create_listing' %}" id="create-form">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <input type="number" name="price" placeholder="Price">
        <input type="text" name="image" placeholder="Enter Image URL...">
        <input type="text" name="category" placeholder="Category">
        <input type="submit">
    </form>
    <textarea name="description" form="create-form" rows="4" cols="50" placeholder="Enter description here"></textarea>

{% endblock %}