{% extends "auctions/layout.html" %}

{% block body %}
<div class="jumbotron text-center" style="background-color: burlywood; background-image: url('');  background-repeat: no-repeat, repeat;  background-size: auto; background-position: left;">
    <h1 class="card-title h1 text-center" style="padding-bottom: 15px; color:white">Active Listings</h1>
</div>
    <div class="card-columns" style="border-radius: 15px;">
        {% for listing in listings %}
            <div class="card" style="border-radius: 15px;">
                <a style="text-decoration: none" href="{% url 'listing' listing.id %}">
                    <div style="background-color: rgb(216, 228, 230);border-radius: 15px;">
                        <h4 class="card-header text-center" style="color: black;">
                            {{ listing.title }}
                        </h4>
                        <img class="card-img-top" src="{{listing.image}}">
                        <div style="color: black;" class="card-body card-body text-center">
                            <p>
                                {{ listing.description }}
                            </p>
                            <h5 class="text-success bold">
                                Current Price: ${{ listing.price }}
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}