{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="card-title h2">Active Listings</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 pb-2">
                {% for listing in listings %}
                    <div style="background-color: aqua;" class="card card-cascade">
                    
                        <div class="view view-cascade overlay ">
                            <img src="{{listing.image}}" style="height:200px">
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <!-- ID: {{ listing.id }} -->
                            <h4>
                                {{ listing.title }}
                            </h4>
                            <p>
                                {{ listing.description }}
                            </p>
                            <p>
                                Current Price: ${{ listing.price }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}