{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    {% if not item.active %}
                        Bidding has been closed on this item.
                        {{winner.title}}
                        {{winner.winner}}
                    {% endif %}
                </h1>
                
                <h1>
                    {{item.title}}
                </h1>
                <div>
                    <img src="{{item.image}}" width="400">
                </div>
                
                <div>
                    <p>
                        Description: {{item.description}}
                    </p>
                </div>
                
                <div>
                    Price: ${{item.price}}
                </div>
                
                <div>
                    Category: {{item.category}}
                </div>
            </div>
            
            <div class="col">
                {% if message %}
                    <div class="alert alert-{{msg_type}}">{{ message }}</div>
                {% endif %}
                
                {% if item.active %}
                    <!-- form to bid on item -->
                    <form action="{% url 'listing' item.id %}" method="post">
                        {% csrf_token %}
                        <input name="new_bid" type="number" placeholder="Enter Bid">
                        <input class="btn btn-success btn-sm" type="submit" value="Bid!" >
                    </form>
                {% else %}
                    <h3 class="alert alert-danger">Bidding is closed on this item</h3>
                    <h4>The winner is {{winner.winner}}</h4>
                {% endif %}
            
                {% if user.username == winner.winner%}
                    <h4>you won {{user.username}}</h4>
                {% endif %}
            
                    <form action="{% url 'comment' item.id %}" method="post">
                        {% csrf_token %}
                        <textarea>

                        </textarea>
                        <input type="submit">
                    </form>

                    {{comments}}
            
                {% if user.username == item.seller %}
                    {% if winner %}
                        <a class="alert alert-success">
                            Bid closed
                        </a>
                    {% else %}
                        <div>
                            <a class="btn btn-primary btn-lg" href="{% url 'close_bid' item.id %}">
                                Close Bid
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            
                {% if item.active %}
                    {% if added %}
                        <a class="btn btn-danger btn-lg" href="{% url 'remove' item.id %}">Remove from Watchlist</a>
                    {% else %}
                        <a class="btn btn-success btn-lg" href="{% url 'watch' item.id %}">
                            Add to Watchlist
                        </a>
                    {% endif %}
                {% endif %}
                <div>
                    <a href="{%url 'index' %}">Back to Active Listings</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}