{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col" style="border-right:darkgray 1px solid">
                <h1>
                    {% if not item.active %}
                        Bidding has been closed on this item.
                        {{winner.title}}
                        {{winner.winner}}
                    {% endif %}
                </h1>
                <h1 class="text-left h1">
                    {{item.title}}
                </h1>
                <div style="margin-left: -140px;">
                    <img class="rounded mx-auto d-block" src="{{item.image}}" width="400" >
                </div>
                <div class="text-left">
                    <p class="mt-3 mb-0 font-weight-bold">
                        Description: 
                    </p>
                    <p>
                        {{item.description}}
                    </p>
                    
                    <p class="mt-3 mb-0 font-weight-bold">
                        Current Price: 
                    </p>
                    <h3 class="text-success bold">
                        ${{item.price}}
                    </h3>

                    <p>
                        Category: {{item.category|title}}
                    </p>
                </div>  
            </div>
            
            <div class="col text-left">

                <!-- bid alert message -->
                {% if message %}
                    <div class="alert alert-{{msg_type}} " style="margin-left: 2px; border: 1px solid black;">
                        {{ message }}
                    </div>
                {% endif %}

                    <!-- bid form -->
                    <div class="mt-5" style="margin-left:2px;">
                        {% if item.active %}
                            <form action="{% url 'listing' item.id %}" method="post">
                                {% csrf_token %}
                                <input name="new_bid" type="number" placeholder="Enter Bid">
                                <input class="btn btn-success btn-sm" type="submit" value="Bid!" >
                            </form>
                        {% else %}

                            <!-- winner message -->
                            <h3 class="alert alert-danger">Bidding is closed on this item</h3>
                            <h4>The winner is {{winner.winner}}</h4>
                        {% endif %}
                        
                        <!-- tell winning user they won -->
                        {% if user.username == winner.winner%}
                            <h4>you won {{user.username}}</h4>
                        {% endif %}
                    </div>
                   
                    
              
                
                <!-- close bid -->
                <div class="row" style="margin-left: -5px;">
                {% if user.username == item.seller %}
                    {% if winner %}
                        <a class="alert alert-success">
                            Bid closed
                        </a>
                    {% else %}
                        <div>
                            <a class="btn btn-primary btn-lg" href="{% url 'close_bid' item.id %}">
                                Close Bid
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            
                {% if item.active %}
                    {% if added %}
                        <a class="btn btn-danger btn-lg" href="{% url 'remove' item.id %}">Remove from Watchlist</a>
                    {% else %}
                        <a class="btn btn-success btn-lg" href="{% url 'watch' item.id %}">
                            Add to Watchlist
                        </a>
                    {% endif %}
                {% endif %}
                </div>

                <!-- <div>
                    <a href="{%url 'index' %}">Back to Active Listings</a>
                </div> -->



                <form action="{% url 'comment' item.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="comment" rows="4" placeholder="Leave a comment"></textarea>
                    </div>
                    <input type="submit">
                </form>
                {% if comments %}
                <div style="background-color: coral;">
                    {% for comment in comments %}
                           <li>{{comment.comment}}</li>
                    {% endfor %}
                </div>
                {% endif %}
                
                


            </div>
        </div>
       
    </div>
{% endblock %}