{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <div>
        <h1>
            {{item.title}} 
        </h1>
    </div>
    <div>
        <img src="{{item.image}}" style="height:300px">
    </div>
    <div>
        <p>
           Description: {{item.description}}
        </p>
    </div>
    <div>
        Price: ${{item.price}}
    </div>
    <div>
        Category: {{item.category}}
    </div>
</div>
<div>
{% if message %}
    <div class="alert alert-{{msg_type}}">{{ message }}</div>
{% endif %}

    <!-- form to bid on item -->
    <form action="{% url 'listing' item.id %}" method="post">
        {% csrf_token %}
        <input name="new_bid" type="number" placeholder="Enter Bid">
        <input class="btn btn-success btn-lg" type="submit" value="Bid!" >
    </form>
    <div>
        <a class="btn btn-primary btn-lg" href="{% url 'close_bid' item.id %}">
            Close Bid
        </a>
    </div>

    {% if added %}
    <a class="btn btn-danger btn-lg" href="{% url 'remove' item.id %}">Remove from Watchlist</a>
    {% else %}
    <a class="btn btn-success btn-lg" href="{% url 'watch' item.id %}">
        Add to Watchlist
    </a>
    {% endif %}
</div>
<div>
    <a href="{%url 'index' %}">Back to Active Listings</a>
</div>

{% endblock %}