{% extends "auctions/layout.html" %}

{% block body%}
<div class="jumbotron text-center" style="background-color:lightblue ;">
    <h2 class="card-title h1 text-center" style="padding-bottom: 15px; color:white"> Watchlist</h2>
</div>
<div class="card-columns" style="border-radius: 15px;">
        {% for item in items %}
            {% for obj in item %}
            <div class="card" style="background-color: white;">
                <a style="text-decoration: none; color:black" href="{% url 'listing' obj.id %}">
                    <h4 class="card-header text-center" style="color: black;">{{obj.title}}</h4>
                            <img class="card-img-top" src="{{obj.image}}"/>
                        <div  style="color: black;" class="card-body card-body text-center">
                            <p>{{obj.description}}</p>
                            <h5 class="text-success bold">${{obj.price}}</h5>
                        </div>
                </a>
            </div>
            {% endfor %}
        {% endfor %}
</div>

{%endblock %}